<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic url navigation</title>
</head>
<body>
    <center>
        <h1>magesh html to muni html page</h1>
        <h1>magesh dream boy for chennai girls</h1>
        <a href="{% url 'loverboys' %}">
           got to  magesh page to muni page
        </a>
    </center>
    
</body>
</html>